Flashcards.Show/[C#]-Flashcards.Show/C#/FlashCards.ViewModel.SL/Service References/FlashService/FlashCardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FlashCardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:81/FlashCardsService.svc?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:81/FlashCardsService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:81/FlashCardsService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UploadFileContentMessage">
    <wsdl:part name="parameters" element="tns:UploadFileContentMessage" />
  </wsdl:message>
  <wsdl:message name="UploadFileContentMessage_Headers">
    <wsdl:part name="SenderName" element="tns:SenderName" />
  </wsdl:message>
  <wsdl:message name="UploadFileTokenMessage">
    <wsdl:part name="parameters" element="tns:UploadFileTokenMessage" />
  </wsdl:message>
  <wsdl:message name="IFlashCardService_GetFileUri_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileUri" />
  </wsdl:message>
  <wsdl:message name="IFlashCardService_GetFileUri_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileUriResponse" />
  </wsdl:message>
  <wsdl:portType name="IFlashCardService">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlashCardService/UploadFile" name="UploadFileContentMessage" message="tns:UploadFileContentMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlashCardService/UploadFileResponse" name="UploadFileTokenMessage" message="tns:UploadFileTokenMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileUri">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlashCardService/GetFileUri" message="tns:IFlashCardService_GetFileUri_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlashCardService/GetFileUriResponse" message="tns:IFlashCardService_GetFileUri_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFlashCardService" type="tns:IFlashCardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IFlashCardService/UploadFile" style="document" />
      <wsdl:input name="UploadFileContentMessage">
        <soap:header message="tns:UploadFileContentMessage_Headers" part="SenderName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UploadFileTokenMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileUri">
      <soap:operation soapAction="http://tempuri.org/IFlashCardService/GetFileUri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlashCardService">
    <wsdl:port name="BasicHttpBinding_IFlashCardService" binding="tns:BasicHttpBinding_IFlashCardService">
      <soap:address location="http://localhost:81/FlashCardsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>