Getting Started with ReactJS Using MVC And WCF REST/[C#]-Getting Started with ReactJS Using MVC And WCF REST/C#/shanuMVCReactJS/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/shanuMVCReactJSWCFRest" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/shanuMVCReactJSWCFRest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfShanuDataContract.itemDetailsDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShanuDataContract.itemDetailsDataContract" nillable="true" type="tns:ShanuDataContract.itemDetailsDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShanuDataContract.itemDetailsDataContract" nillable="true" type="tns:ArrayOfShanuDataContract.itemDetailsDataContract" />
  <xs:complexType name="ShanuDataContract.itemDetailsDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShanuDataContract.itemDetailsDataContract" nillable="true" type="tns:ShanuDataContract.itemDetailsDataContract" />
</xs:schema>