Getting Started with ReactJS Using MVC And WCF REST/[C#]-Getting Started with ReactJS Using MVC And WCF REST/C#/shanuMVCReactJS/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39290/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/shanuMVCReactJSWCFRest" />
  <xs:element name="GetItemDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/shanuMVCReactJSWCFRest" minOccurs="0" name="GetItemDetailsResult" nillable="true" type="q1:ArrayOfShanuDataContract.itemDetailsDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>