Hybrid OnlineOffline Architecture/[C#]-Hybrid OnlineOffline Architecture/C#/SyncClient/Service References/SchemaService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SchemaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_SchemaService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SchemaService_GetSchemaVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchemaVersion" />
  </wsdl:message>
  <wsdl:message name="SchemaService_GetSchemaVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchemaVersionResponse" />
  </wsdl:message>
  <wsdl:message name="SchemaService_GetIdRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdRange" />
  </wsdl:message>
  <wsdl:message name="SchemaService_GetIdRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdRangeResponse" />
  </wsdl:message>
  <wsdl:portType name="SchemaService">
    <wsdl:operation name="GetSchemaVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/SchemaService/GetSchemaVersion" message="tns:SchemaService_GetSchemaVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SchemaService/GetSchemaVersionResponse" message="tns:SchemaService_GetSchemaVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdRange">
      <wsdl:input wsaw:Action="http://tempuri.org/SchemaService/GetIdRange" message="tns:SchemaService_GetIdRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SchemaService/GetIdRangeResponse" message="tns:SchemaService_GetIdRange_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_SchemaService" type="tns:SchemaService">
    <wsp:PolicyReference URI="#NetTcpBinding_SchemaService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetSchemaVersion">
      <soap12:operation soapAction="http://tempuri.org/SchemaService/GetSchemaVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdRange">
      <soap12:operation soapAction="http://tempuri.org/SchemaService/GetIdRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchemaService">
    <wsdl:port name="NetTcpBinding_SchemaService" binding="tns:NetTcpBinding_SchemaService">
      <soap12:address location="net.tcp://localhost/Schema" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost/Schema</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>