Hybrid Reference Implementation Using BizTalk Server, Windows Azure & SQL Azure/[C#]-Hybrid Reference Implementation Using BizTalk Server, Windows Azure & SQL Azure/C#/BizTalk.Schemas/InventoryReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="ContosoInternalSchemas" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="ContosoInternalSchemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <b:schemaInfo rootreference="InventoryReport" documenttype="GComInventoryAdvice" version="1.0" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
      <b:imports>
      </b:imports>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="InventoryReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="PurposeCode" type="xs:string" />
              <xs:element minOccurs="0" name="ReportType" type="xs:string" />
              <xs:element minOccurs="0" name="ReferenceNumber" type="xs:string" />
              <xs:element minOccurs="0" name="Date" type="xs:string" />
              <xs:element minOccurs="0" name="Time" type="xs:string" />
              <xs:element minOccurs="0" name="ActionCode" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Currency">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="EntityIdentifierCode" type="xs:string" />
              <xs:element minOccurs="0" name="CurrencyCode" type="xs:string" />
              <xs:element minOccurs="0" name="ExchangeRate" type="xs:string" />
              <xs:element minOccurs="0" name="EntityIdentifierCode2" type="xs:string" />
              <xs:element minOccurs="0" name="CurrencyCode2" type="xs:string" />
              <xs:element minOccurs="0" name="CurrencyMarketExchangeCode" type="xs:string" />
              <xs:element minOccurs="0" name="DateTimeQualifier1" type="xs:string" />
              <xs:element minOccurs="0" name="Date1" type="xs:string" />
              <xs:element minOccurs="0" name="Time1" type="xs:string" />
              <xs:element minOccurs="0" name="DateTimeQualifier2" type="xs:string" />
              <xs:element minOccurs="0" name="Date2" type="xs:string" />
              <xs:element minOccurs="0" name="Time2" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Dates">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="DateTimeQualifier" type="xs:string" />
              <xs:element minOccurs="0" name="Date" type="xs:string" />
              <xs:element minOccurs="0" name="Time" type="xs:string" />
              <xs:element minOccurs="0" name="TimeCode" type="xs:string" />
              <xs:element minOccurs="0" name="DateTimePeriodFormatQualifier" type="xs:string" />
              <xs:element minOccurs="0" name="DateTimePeriod" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="References">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="RefQual" type="xs:string" />
              <xs:element minOccurs="0" name="RefNum" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminContacts">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ContactFuntionCode" type="xs:string" />
              <xs:element minOccurs="0" name="Name" type="xs:string" />
              <xs:element minOccurs="0" name="TelephoneQual" type="xs:string" />
              <xs:element minOccurs="0" name="TelephoneNum" type="xs:string" />
              <xs:element minOccurs="0" name="FaxQual" type="xs:string" />
              <xs:element minOccurs="0" name="FaxNum" type="xs:string" />
              <xs:element minOccurs="0" name="EmailQual" type="xs:string" />
              <xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Measurements">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="MeasurementReferenceIDCode" type="xs:string" />
              <xs:element minOccurs="0" name="MeasurementQual" type="xs:string" />
              <xs:element minOccurs="0" name="MeasurementValue" type="xs:string" />
              <xs:element minOccurs="0" name="MeasurementUOM" type="xs:string" />
              <xs:element minOccurs="0" name="RangeMinimum" type="xs:string" />
              <xs:element minOccurs="0" name="RangeMaximum" type="xs:string" />
              <xs:element minOccurs="0" name="MeasurementSignificanceCode" type="xs:string" />
              <xs:element minOccurs="0" name="MeasurementAttributeCode" type="xs:string" />
              <xs:element minOccurs="0" name="SurfaceLayerPositionCode" type="xs:string" />
              <xs:element minOccurs="0" name="MeasurementMethodorDevice" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="OrgLoop">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="EntityIdentifierCode" type="xs:string" />
                    <xs:element minOccurs="0" name="Name" type="xs:string" />
                    <xs:element minOccurs="0" name="IdentificationCodeQualifier" type="xs:string" />
                    <xs:element minOccurs="0" name="IdentificationCode" type="xs:string" />
                    <xs:element minOccurs="0" name="EntityRelationshipCode" type="xs:string" />
                    <xs:element minOccurs="0" name="EntityIdentifierCode2" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="2" name="AddName">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Name1" type="xs:string" />
                    <xs:element minOccurs="0" name="Name2" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="2" name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Add1" type="xs:string" />
                    <xs:element minOccurs="0" name="Add2" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Location">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="City" type="xs:string" />
                    <xs:element minOccurs="0" name="State" type="xs:string" />
                    <xs:element minOccurs="0" name="Zip" type="xs:string" />
                    <xs:element minOccurs="0" name="Country" type="xs:string" />
                    <xs:element minOccurs="0" name="LocQual" type="xs:string" />
                    <xs:element minOccurs="0" name="LocID" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="References">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="RefQual" type="xs:string" />
                    <xs:element minOccurs="0" name="RefNum" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminContacts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ContactFuntionCode" type="xs:string" />
                    <xs:element minOccurs="0" name="Name" type="xs:string" />
                    <xs:element minOccurs="0" name="TelephoneQual" type="xs:string" />
                    <xs:element minOccurs="0" name="TelephoneNum" type="xs:string" />
                    <xs:element minOccurs="0" name="FaxQual" type="xs:string" />
                    <xs:element minOccurs="0" name="FaxNum" type="xs:string" />
                    <xs:element minOccurs="0" name="EmailQual" type="xs:string" />
                    <xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="CodeSourceInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="AgencyQualifierCod" type="xs:string" />
              <xs:element minOccurs="0" name="SourceSubqualifier" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="IndustryCode">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="CodeListQualifierCode" type="xs:string" />
                    <xs:element minOccurs="0" name="IndustryCode" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Items">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="AssignedID" type="xs:string" />
                    <xs:element minOccurs="0" name="BuyerPartQualifier" type="xs:string" />
                    <xs:element minOccurs="0" name="BuyerPartNumber" type="xs:string" />
                    <xs:element minOccurs="0" name="VendorPartQualifier" type="xs:string" />
                    <xs:element minOccurs="0" name="VendorPartNumber" type="xs:string" />
                    <xs:element minOccurs="0" name="MFCodeQualifer" type="xs:string" />
                    <xs:element minOccurs="0" name="MFCode" type="xs:string" />
                    <xs:element minOccurs="0" name="UPCPartQualifier" type="xs:string" />
                    <xs:element minOccurs="0" name="UPCPartNumber" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceIDQualifier1" type="xs:string" />
                    <xs:element minOccurs="0" name="PartNum1" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceIDQualifier2" type="xs:string" />
                    <xs:element minOccurs="0" name="PartNum2" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceIDQualifier3" type="xs:string" />
                    <xs:element minOccurs="0" name="PartNum3" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceIDQualifier4" type="xs:string" />
                    <xs:element minOccurs="0" name="PartNum4" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceIDQualifier5" type="xs:string" />
                    <xs:element minOccurs="0" name="PartNum5" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceIDQualifier6" type="xs:string" />
                    <xs:element minOccurs="0" name="PartNum6" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Description">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ItemDescriptionType" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductProcessCharacteristicCode" type="xs:string" />
                    <xs:element minOccurs="0" name="AgencyQualifierCode" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductDescriptionCode" type="xs:string" />
                    <xs:element minOccurs="0" name="Description" type="xs:string" />
                    <xs:element minOccurs="0" name="SurfaceLayerPositionCode" type="xs:string" />
                    <xs:element minOccurs="0" name="SourceSubqualifier" type="xs:string" />
                    <xs:element minOccurs="0" name="YesNoConditionorResponseCode" type="xs:string" />
                    <xs:element minOccurs="0" name="LanguageCode" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Measurements">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="MeasurementReferenceIDCode" type="xs:string" />
                    <xs:element minOccurs="0" name="MeasurementQual" type="xs:string" />
                    <xs:element minOccurs="0" name="MeasurementValue" type="xs:string" />
                    <xs:element minOccurs="0" name="MeasurementUOM" type="xs:string" />
                    <xs:element minOccurs="0" name="RangeMinimum" type="xs:string" />
                    <xs:element minOccurs="0" name="RangeMaximum" type="xs:string" />
                    <xs:element minOccurs="0" name="MeasurementSignificanceCode" type="xs:string" />
                    <xs:element minOccurs="0" name="MeasurementAttributeCode" type="xs:string" />
                    <xs:element minOccurs="0" name="SurfaceLayerPositionCode" type="xs:string" />
                    <xs:element minOccurs="0" name="MeasurementMethodorDevice" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MarkingPackagingLoading">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ItemDescriptionType" type="xs:string" />
                    <xs:element minOccurs="0" name="PackagingCharacteristicCode" type="xs:string" />
                    <xs:element minOccurs="0" name="AgencyQualifierCode" type="xs:string" />
                    <xs:element minOccurs="0" name="PackagingDescriptionCode" type="xs:string" />
                    <xs:element minOccurs="0" name="Description" type="xs:string" />
                    <xs:element minOccurs="0" name="UnitLoadOptionCode" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Dates">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="DateTimeQualifier" type="xs:string" />
                    <xs:element minOccurs="0" name="Date" type="xs:string" />
                    <xs:element minOccurs="0" name="Time" type="xs:string" />
                    <xs:element minOccurs="0" name="TimeCode" type="xs:string" />
                    <xs:element minOccurs="0" name="DateTimePeriodFormatQualifier" type="xs:string" />
                    <xs:element minOccurs="0" name="DateTimePeriod" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="PricingInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ClassofTradeCode" type="xs:string" />
                    <xs:element minOccurs="0" name="PriceIdentifierCode" type="xs:string" />
                    <xs:element minOccurs="0" name="UnitPrice" type="xs:string" />
                    <xs:element minOccurs="0" name="Quantity" type="xs:string" />
                    <xs:element minOccurs="0" name="UOM" type="xs:string" />
                    <xs:element minOccurs="0" name="PriceMultiplierQualifier" type="xs:string" />
                    <xs:element minOccurs="0" name="Multiplier" type="xs:string" />
                    <xs:element minOccurs="0" name="MonetaryAmount" type="xs:string" />
                    <xs:element minOccurs="0" name="BasisofUnitPriceCode" type="xs:string" />
                    <xs:element minOccurs="0" name="ConditionValue" type="xs:string" />
                    <xs:element minOccurs="0" name="MultiplePriceQuantity" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Currency">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="EntityIdentifierCode" type="xs:string" />
                    <xs:element minOccurs="0" name="CurrencyCode" type="xs:string" />
                    <xs:element minOccurs="0" name="ExchangeRate" type="xs:string" />
                    <xs:element minOccurs="0" name="EntityIdentifierCode2" type="xs:string" />
                    <xs:element minOccurs="0" name="CurrencyCode2" type="xs:string" />
                    <xs:element minOccurs="0" name="CurrencyMarketExchangeCode" type="xs:string" />
                    <xs:element minOccurs="0" name="DateTimeQualifier1" type="xs:string" />
                    <xs:element minOccurs="0" name="Date1" type="xs:string" />
                    <xs:element minOccurs="0" name="Time1" type="xs:string" />
                    <xs:element minOccurs="0" name="DateTimeQualifier2" type="xs:string" />
                    <xs:element minOccurs="0" name="Date2" type="xs:string" />
                    <xs:element minOccurs="0" name="Time2" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="AllowancesOrCharges">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="AllowanceorChargeIndicator" type="xs:string" />
                    <xs:element minOccurs="0" name="ServicePromotionAllowanceorCharge" type="xs:string" />
                    <xs:element minOccurs="0" name="AgencyQualifierCode" type="xs:string" />
                    <xs:element minOccurs="0" name="AgencyServicePromotionAllowance" type="xs:string" />
                    <xs:element minOccurs="0" name="Amount" type="xs:string" />
                    <xs:element minOccurs="0" name="AllowanceChargePercentQualifier" type="xs:string" />
                    <xs:element minOccurs="0" name="Percent" type="xs:string" />
                    <xs:element minOccurs="0" name="Rate" type="xs:string" />
                    <xs:element minOccurs="0" name="UOM" type="xs:string" />
                    <xs:element minOccurs="0" name="Qty1" type="xs:string" />
                    <xs:element minOccurs="0" name="Qty2" type="xs:string" />
                    <xs:element minOccurs="0" name="MethodOfHandling" type="xs:string" />
                    <xs:element minOccurs="0" name="RefNum" type="xs:string" />
                    <xs:element minOccurs="0" name="OptionNum" type="xs:string" />
                    <xs:element minOccurs="0" name="Description" type="xs:string" />
                    <xs:element minOccurs="0" name="LanguageCode" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="References">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="RefQual" type="xs:string" />
                    <xs:element minOccurs="0" name="RefNum" type="xs:string" />
                    <xs:element minOccurs="0" name="RefDescription" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminContacts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ContactFuntionCode" type="xs:string" />
                    <xs:element minOccurs="0" name="Name" type="xs:string" />
                    <xs:element minOccurs="0" name="TelephoneQual" type="xs:string" />
                    <xs:element minOccurs="0" name="TelephoneNum" type="xs:string" />
                    <xs:element minOccurs="0" name="FaxQual" type="xs:string" />
                    <xs:element minOccurs="0" name="FaxNum" type="xs:string" />
                    <xs:element minOccurs="0" name="EmailQual" type="xs:string" />
                    <xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="DestinationQuantity">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="UOM" type="xs:string" />
                    <xs:element minOccurs="0" name="IdCodeQual" type="xs:string" />
                    <xs:element minOccurs="0" name="IdCode" type="xs:string" />
                    <xs:element minOccurs="0" name="Qty" type="xs:string" />
                    <xs:element minOccurs="0" name="IdCodeQual1" type="xs:string" />
                    <xs:element minOccurs="0" name="IdCode1" type="xs:string" />
                    <xs:element minOccurs="0" name="Qty1" type="xs:string" />
                    <xs:element minOccurs="0" name="IdCodeQual2" type="xs:string" />
                    <xs:element minOccurs="0" name="IdCode2" type="xs:string" />
                    <xs:element minOccurs="0" name="Qty2" type="xs:string" />
                    <xs:element minOccurs="0" name="LocationID" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="MarksAndNumber">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="MANQual" type="xs:string" />
                    <xs:element minOccurs="0" name="Number1" type="xs:string" />
                    <xs:element minOccurs="0" name="Number2" type="xs:string" />
                    <xs:element minOccurs="0" name="MANQual2" type="xs:string" />
                    <xs:element minOccurs="0" name="Number3" type="xs:string" />
                    <xs:element minOccurs="0" name="Number4" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="UnitDetail">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="UOM" type="xs:string" />
                    <xs:element minOccurs="0" name="UnitPrice" type="xs:string" />
                    <xs:element minOccurs="0" name="BasisOfUnitPriceCode" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="ContractSummarry">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ContractNumber" type="xs:string" />
                    <xs:element minOccurs="0" name="ChangeOrderSequenceNumber" type="xs:string" />
                    <xs:element minOccurs="0" name="ReleaseNumber" type="xs:string" />
                    <xs:element minOccurs="0" name="ReferenceIDQual" type="xs:string" />
                    <xs:element minOccurs="0" name="RefID" type="xs:string" />
                    <xs:element minOccurs="0" name="PurchaseOrderNumber" type="xs:string" />
                    <xs:element minOccurs="0" name="SpecialServicesCode" type="xs:string" />
                    <xs:element minOccurs="0" name="FOBPointCode" type="xs:string" />
                    <xs:element minOccurs="0" name="Percent1" type="xs:string" />
                    <xs:element minOccurs="0" name="Percent2" type="xs:string" />
                    <xs:element minOccurs="0" name="MonetaryAmount" type="xs:string" />
                    <xs:element minOccurs="0" name="TermsTypeCode" type="xs:string" />
                    <xs:element minOccurs="0" name="SpecialServicesCode2" type="xs:string" />
                    <xs:element minOccurs="0" name="UOM" type="xs:string" />
                    <xs:element minOccurs="0" name="UnitPrice" type="xs:string" />
                    <xs:element minOccurs="0" name="TermsTypeCode2" type="xs:string" />
                    <xs:element minOccurs="0" name="YesNoResponseCode1" type="xs:string" />
                    <xs:element minOccurs="0" name="YesNoResponseCode2" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="DemandDetail">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="IndustryCode" type="xs:string" />
                    <xs:element minOccurs="0" name="CodeListQualifer" type="xs:string" />
                    <xs:element minOccurs="0" name="ReferenceIDQual" type="xs:string" />
                    <xs:element minOccurs="0" name="ReferenceID" type="xs:string" />
                    <xs:element minOccurs="0" name="IndustryCode2" type="xs:string" />
                    <xs:element minOccurs="0" name="CodeListQualifer2" type="xs:string" />
                    <xs:element minOccurs="0" name="Quantity" type="xs:string" />
                    <xs:element minOccurs="0" name="YesNoResponseCode1" type="xs:string" />
                    <xs:element minOccurs="0" name="IndustryCode3" type="xs:string" />
                    <xs:element minOccurs="0" name="CodeListQualifer3" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="MaintenanceType">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="MaintenanceTypeCode" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="PercentAmounts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="PercentQual" type="xs:string" />
                    <xs:element minOccurs="0" name="Percent" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="LeadTime">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="LeadTimeCode" type="xs:string" />
                    <xs:element minOccurs="0" name="Qty" type="xs:string" />
                    <xs:element minOccurs="0" name="UntiOfTimePeriod" type="xs:string" />
                    <xs:element minOccurs="0" name="Date" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="LoopforCodeSourceInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="AgencyQualCode" type="xs:string" />
                    <xs:element minOccurs="0" name="SourceSubQual" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="IndustryCode">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="CodeListQualCode" type="xs:string" />
                          <xs:element minOccurs="0" name="IndustryCode" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="SubLineItemDetail">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="AssignedID1" type="xs:string" />
                    <xs:element minOccurs="0" name="AssignedID2" type="xs:string" />
                    <xs:element minOccurs="0" name="RelationshipCode" type="xs:string" />
                    <xs:element minOccurs="0" name="Quantity" type="xs:string" />
                    <xs:element minOccurs="0" name="CompositeUnitOfMeasure">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="UOM1" type="xs:string" />
                          <xs:element minOccurs="0" name="Exponent1" type="xs:string" />
                          <xs:element minOccurs="0" name="Multiplier1" type="xs:string" />
                          <xs:element minOccurs="0" name="UOM2" type="xs:string" />
                          <xs:element minOccurs="0" name="Exponent2" type="xs:string" />
                          <xs:element minOccurs="0" name="Multiplier2" type="xs:string" />
                          <xs:element minOccurs="0" name="UOM3" type="xs:string" />
                          <xs:element minOccurs="0" name="Exponent3" type="xs:string" />
                          <xs:element minOccurs="0" name="Multiplier3" type="xs:string" />
                          <xs:element minOccurs="0" name="UOM4" type="xs:string" />
                          <xs:element minOccurs="0" name="Exponent4" type="xs:string" />
                          <xs:element minOccurs="0" name="Multiplier4" type="xs:string" />
                          <xs:element minOccurs="0" name="UOM5" type="xs:string" />
                          <xs:element minOccurs="0" name="Exponent5" type="xs:string" />
                          <xs:element minOccurs="0" name="Multiplier5" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="UnitPrice" type="xs:string" />
                    <xs:element minOccurs="0" name="UnitPriceUOM" type="xs:string" />
                    <xs:element minOccurs="0" name="RelationshipCode2" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceIDQual1" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceID1" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceIDQual2" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceID2" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceIDQual3" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceID3" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceIDQual4" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceID4" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceIDQual5" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceID5" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceIDQual6" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceID6" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceIDQual7" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceID7" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceIDQual8" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceID8" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceIDQual9" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceID9" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceIDQual10" type="xs:string" />
                    <xs:element minOccurs="0" name="ProductServiceID10" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Quantity">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="QuantityQualifer" type="xs:string" />
                    <xs:element minOccurs="0" name="Quantity" type="xs:string" />
                    <xs:element minOccurs="0" name="QuantityUOM" type="xs:string" />
                    <xs:element minOccurs="0" name="FreeFormMessage" type="xs:string" />
                    <xs:element minOccurs="0" name="UnitDetail">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="UOM" type="xs:string" />
                          <xs:element minOccurs="0" name="UnitPrice" type="xs:string" />
                          <xs:element minOccurs="0" name="BasisOfUnitPriceCode" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Measurements">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="MeasurementReferenceIDCode" type="xs:string" />
                          <xs:element minOccurs="0" name="MeasurementQual" type="xs:string" />
                          <xs:element minOccurs="0" name="MeasurementValue" type="xs:string" />
                          <xs:element minOccurs="0" name="MeasurementUOM" type="xs:string" />
                          <xs:element minOccurs="0" name="RangeMinimum" type="xs:string" />
                          <xs:element minOccurs="0" name="RangeMaximum" type="xs:string" />
                          <xs:element minOccurs="0" name="MeasurementSignificanceCode" type="xs:string" />
                          <xs:element minOccurs="0" name="MeasurementAttributeCode" type="xs:string" />
                          <xs:element minOccurs="0" name="SurfaceLayerPositionCode" type="xs:string" />
                          <xs:element minOccurs="0" name="MeasurementMethodorDevice" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="LeadTime">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="LeadTimeCode" type="xs:string" />
                          <xs:element minOccurs="0" name="Qty" type="xs:string" />
                          <xs:element minOccurs="0" name="UntiOfTimePeriod" type="xs:string" />
                          <xs:element minOccurs="0" name="Date" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Dates">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="DateTimeQualifier" type="xs:string" />
                          <xs:element minOccurs="0" name="Date" type="xs:string" />
                          <xs:element minOccurs="0" name="Time" type="xs:string" />
                          <xs:element minOccurs="0" name="TimeCode" type="xs:string" />
                          <xs:element minOccurs="0" name="DateTimePeriodFormatQualifier" type="xs:string" />
                          <xs:element minOccurs="0" name="DateTimePeriod" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="LineItemSchedule">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Quantity" type="xs:string" />
                          <xs:element minOccurs="0" name="UOM" type="xs:string" />
                          <xs:element minOccurs="0" name="EntityIdentifierCode" type="xs:string" />
                          <xs:element minOccurs="0" name="Name" type="xs:string" />
                          <xs:element minOccurs="0" name="DateTimeQualifier" type="xs:string" />
                          <xs:element minOccurs="0" name="Date" type="xs:string" />
                          <xs:element minOccurs="0" name="Time" type="xs:string" />
                          <xs:element minOccurs="0" name="DateTimeQualifier1" type="xs:string" />
                          <xs:element minOccurs="0" name="Date1" type="xs:string" />
                          <xs:element minOccurs="0" name="Time1" type="xs:string" />
                          <xs:element minOccurs="0" name="RequestReferenceNumber" type="xs:string" />
                          <xs:element minOccurs="0" name="AssignedIdentification" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Measurements">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="MeasurementReferenceIDCode" type="xs:string" />
                                <xs:element minOccurs="0" name="MeasurementQual" type="xs:string" />
                                <xs:element minOccurs="0" name="MeasurementValue" type="xs:string" />
                                <xs:element minOccurs="0" name="MeasurementUOM" type="xs:string" />
                                <xs:element minOccurs="0" name="RangeMinimum" type="xs:string" />
                                <xs:element minOccurs="0" name="RangeMaximum" type="xs:string" />
                                <xs:element minOccurs="0" name="MeasurementSignificanceCode" type="xs:string" />
                                <xs:element minOccurs="0" name="MeasurementAttributeCode" type="xs:string" />
                                <xs:element minOccurs="0" name="SurfaceLayerPositionCode" type="xs:string" />
                                <xs:element minOccurs="0" name="MeasurementMethodorDevice" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="LoopforCodeSourceInformation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="AgencyQualCode" type="xs:string" />
                          <xs:element minOccurs="0" name="SourceSubQual" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="IndustryCode">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="CodeListQualCode" type="xs:string" />
                                <xs:element minOccurs="0" name="IndustryCode" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="LoopForLoopHeader">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="LoopHeader">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="LoopIdCode" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="References">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="RefQual" type="xs:string" />
                                <xs:element minOccurs="0" name="RefNum" type="xs:string" />
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="Dates">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="DateTimeQualifier" type="xs:string" />
                                      <xs:element minOccurs="0" name="Date" type="xs:string" />
                                      <xs:element minOccurs="0" name="Time" type="xs:string" />
                                      <xs:element minOccurs="0" name="TimeCode" type="xs:string" />
                                      <xs:element minOccurs="0" name="DateTimePeriodFormatQualifier" type="xs:string" />
                                      <xs:element minOccurs="0" name="DateTimePeriod" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Name">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="EntityIdentifierCode" type="xs:string" />
                                      <xs:element minOccurs="0" name="Name" type="xs:string" />
                                      <xs:element minOccurs="0" name="IdentificationCodeQualifier" type="xs:string" />
                                      <xs:element minOccurs="0" name="IdentificationCode" type="xs:string" />
                                      <xs:element minOccurs="0" name="EntityRelationshipCode" type="xs:string" />
                                      <xs:element minOccurs="0" name="EntityIdentifierCode2" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="LoopforCodeSourceInformation">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="AgencyQualCode" type="xs:string" />
                                      <xs:element minOccurs="0" name="SourceSubQual" type="xs:string" />
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndustryCode">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="CodeListQualCode" type="xs:string" />
                                            <xs:element minOccurs="0" name="IndustryCode" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="LoopTrailer">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="LoopIDCode" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="OrgLoop">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Name">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="EntityIdentifierCode" type="xs:string" />
                          <xs:element minOccurs="0" name="Name" type="xs:string" />
                          <xs:element minOccurs="0" name="IdentificationCodeQualifier" type="xs:string" />
                          <xs:element minOccurs="0" name="IdentificationCode" type="xs:string" />
                          <xs:element minOccurs="0" name="EntityRelationshipCode" type="xs:string" />
                          <xs:element minOccurs="0" name="EntityIdentifierCode2" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="2" name="AddName">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Name1" type="xs:string" />
                          <xs:element minOccurs="0" name="Name2" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="2" name="Address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Add1" type="xs:string" />
                          <xs:element minOccurs="0" name="Add2" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Location">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="City" type="xs:string" />
                          <xs:element minOccurs="0" name="State" type="xs:string" />
                          <xs:element minOccurs="0" name="Zip" type="xs:string" />
                          <xs:element minOccurs="0" name="Country" type="xs:string" />
                          <xs:element minOccurs="0" name="LocQual" type="xs:string" />
                          <xs:element minOccurs="0" name="LocID" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="References">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="RefQual" type="xs:string" />
                          <xs:element minOccurs="0" name="RefNum" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminContacts">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="ContactFuntionCode" type="xs:string" />
                          <xs:element minOccurs="0" name="Name" type="xs:string" />
                          <xs:element minOccurs="0" name="TelephoneQual" type="xs:string" />
                          <xs:element minOccurs="0" name="TelephoneNum" type="xs:string" />
                          <xs:element minOccurs="0" name="FaxQual" type="xs:string" />
                          <xs:element minOccurs="0" name="FaxNum" type="xs:string" />
                          <xs:element minOccurs="0" name="EmailQual" type="xs:string" />
                          <xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Summary">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="NumItems" type="xs:string" />
              <xs:element minOccurs="0" name="HashTotal" type="xs:string" />
              <xs:element minOccurs="0" name="Weight" type="xs:string" />
              <xs:element minOccurs="0" name="WeightUOM" type="xs:string" />
              <xs:element minOccurs="0" name="Volume" type="xs:string" />
              <xs:element minOccurs="0" name="VolumeUOM" type="xs:string" />
              <xs:element minOccurs="0" name="Description" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="IRR">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="SenderQual" type="xs:string" />
              <xs:element minOccurs="0" name="SenderID" type="xs:string" />
              <xs:element minOccurs="0" name="RecpientQual" type="xs:string" />
              <xs:element minOccurs="0" name="RecpientID" type="xs:string" />
              <xs:element minOccurs="0" name="InterChangeControlNumber" type="xs:string" />
              <xs:element minOccurs="0" name="GSControlNumber" type="xs:string" />
              <xs:element minOccurs="0" name="DocumentControlNumber" type="xs:string" />
              <xs:element minOccurs="0" name="NetworkParticipantId" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>