Flashcards.Show/[C#]-Flashcards.Show/C#/FlashCards.ViewModel.Phone/Service References/FlashCardsServiceReference/FlashCardsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://d5b77a12c4fc4e01b7cfe1f12c6b777b.cloudapp.net:81/FlashCardsService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="UploadFileContentMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="FileByteStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SenderName" nillable="true" type="xs:string" />
  <xs:element name="UploadFileTokenMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileUri">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="senderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileUriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFileUriResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>